@tailwind base;
@tailwind components;
@tailwind utilities;


.button-register {
  background-color: #bac1bf;
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem; 
  color: #fff; 
}

.button-register:hover {
  background-color: #34D399;
  color: #fff;
}

.Already:hover{
  font-style: italic;
  color: #3464dc;
  text-decoration: underline;
}


